@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

:root {
  --primary-color: #0d142d;

  --developer-color: #ffae11;
  --technology-color: #ff5c1e;
  --work-color: #4637ed;
  --community-color: #28bb1b;

  --white: #f0f0f0;
  --grey: #4e546a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
  background-color: var(--primary-color);
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  text-align: center;
  font-size: 42px;
}

h2 {
  font-size: 26px;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4rem;
}

a {
  color: var(--developer-color);
}

form {
  width: 90%;
  margin: 0 auto;
  border: 4px solid #fff;
  padding: 0 28px;
  border-radius: 4px;
}

fieldset {
  border: none;
}

legend {
  margin-top: 30px;
  font-style: italic;
}

input,
select {
  width: 100%;
  display: block;
  padding: 8px;
  outline: none;
  border: none;
}

label {
  display: block;
}

/* Checkbox */
input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #d5d5d5;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
input[type='checkbox']:after {
  font-family: 'Font Awesome 5 free';
  content: '\f00c';
  font-weight: 900;
  font-size: 16px;
  color: var(--white);
  display: none;
}
input[type='checkbox']:hover {
  background-color: var(--grey);
}
input[type='checkbox']:checked {
  background-color: var(--developer-color);
}
input[type='checkbox']:checked:after {
  display: block;
}

/* Radio */
input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: var(--white);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
input[type='radio']:after {
  font-family: 'Font Awesome 5 free';
  content: '\f111';
  font-weight: 900;
  font-size: 16px;
  color: var(--developer-color);
  display: none;
}
input[type='radio']:hover {
  background-color: var(--grey);
}

input[type='radio']:checked:after {
  display: block;
}

/* Submit */
input[type='submit'] {
  border: 2px solid var(--developer-color);
  border-radius: 4px;
  padding: 10px 20px;
  background-color: var(--developer-color);
  color: var(--primary-color);
  text-transform: capitalize;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  outline: none;
}
input[type='submit']:hover {
  background-color: var(--primary-color);
  color: var(--grey);
  border: 2px solid var(--grey);
}

.description {
  text-align: center;
  width: 84%;
  max-width: 800px;
  margin: 10px auto;
  line-height: 24px;
  letter-spacing: 0.3px;
}

/* Margin top util */
.mt-xs {
  margin-top: 3px;
}
.mt-s {
  margin-top: 6px;
}
.mt-m {
  margin-top: 12px;
}
.mt-l {
  margin-top: 20px;
}
.mt-xl {
  margin-top: 34px;
}

/* Margin right util */
.mr {
  margin-right: 6px;
}

/* Margin top and bottom util */
.my-xs {
  margin: 3px 0;
}
.my-s {
  margin: 6px 0;
}
.my-m {
  margin: 12px 0;
}
.my-l {
  margin: 20px 0;
}
.my-xl {
  margin: 34px 0;
}

/* Containers */
.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.checkbox {
  display: flex;
  align-items: center;
}

.textarea {
  outline: none;
  width: 100%;
  height: 200px;
  padding: 10px;
  color: var(--primary-color);
  font-family: 'Source Sans Pro', sans-serif;
}

.border-bottom {
  width: 100%;
  border-bottom: 1px solid var(--grey);
}
